.App {
  text-align: center;
  background-color: #282c34;
  justify-content: center;
  padding : 100px;

}

.Keyboard{
  padding: 10px;
}
.Key{
  width: 100px;
  height : 100px;
  font-size: 20px;
  padding: 10px;
}
.InputLetter{
  width: 200px;
  font-size: 20px;
}
.GuessSection{
  padding: 20px;
}
